<div class="title">
    <h1>{{operacion}} prospecto</h1>
    <div class="home-button">
        <button [routerLink]="['/dashboard']" mat-fab color="warn">
          <mat-icon>home</mat-icon>
        </button>
    </div>
</div>
<app-spinner *ngIf="loading"></app-spinner>

<div class="container">
    <mat-card class="card" class="mat-elevation-z8">
        <form [formGroup]="form" (ngSubmit)="agregarEditarProspecto()">
            <mat-grid-list cols="2" rowHeight="80px">
                <mat-grid-tile [colspan]="2"><b>Datos personales</b></mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre(s)</mat-label>
                        <input formControlName="nombres" matInput>
                        <mat-icon matSuffix>person</mat-icon>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Apellido(s)</mat-label>
                        <input formControlName="apellidos" matInput>
                        <mat-icon matSuffix>person</mat-icon>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2"><b>Información de contacto</b></mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Teléfono</mat-label>
                        <input type="number" formControlName="telefono" matInput>
                        <mat-icon matSuffix>phone</mat-icon>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Correo</mat-label>
                        <input formControlName="correo" matInput>
                        <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2"><b>Solicitar servicio</b></mat-grid-tile>
                <mat-grid-tile [colspan]="2">
                    <mat-form-field appearance="outline">
                        <mat-label>Dirección</mat-label>
                        <input formControlName="direccion" matInput>
                        <mat-icon matSuffix>location_on</mat-icon>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2">Servicio
                    <mat-form-field>
                        <mat-select formControlName="servicio" ([value])="selectVal">
                            <mat-option *ngFor="let servicio of servicios" [value]="servicio">{{servicio}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                </mat-grid-tile>
                <mat-grid-tile [colspan]="2">
                    <button class="btnVolver" mat-raised-button [routerLink]="['/listProspecto']">Volver</button>
                    <button [disabled]="form.invalid" type="submit" mat-raised-button color="primary">Aceptar</button>
                </mat-grid-tile>
              </mat-grid-list>
        </form>
    </mat-card>
</div>

<!-- Flooter section -->
<div>
    <mat-grid-list cols="1" rowHeight="535px">
      <mat-grid-tile class="flooter">
        <div class="aviso">
          <h2><button mat-button><a href="https://www.sky.com.mx/avisoprivacidad" Target="_blank">Aviso de privacidad</a></button> </h2>
        </div>
        <div class="ubicacion">
          <h2>Ubicación</h2>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3701.320459102757!2d-102.30035388557745!3d21.92222856205298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8429efaa2e6aaaab%3A0xdc4c333bb51f06f!2sTDA%20Telecomunicaciones!5e0!3m2!1ses-419!2smx!4v1679024940806!5m2!1ses-419!2smx" width="300" height="150" style="border:10px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          <h4>Av Independencia #1850, Jardines de la Concepción II, 20120 Aguascalientes, Ags.</h4>
        </div>
        <div class="ayuda">
          <h2>Ayuda y atención</h2>
          <h4>+52 4499120299</h4>
          <a ><i class="fa-brands fa-whatsapp"></i></a>
        </div>
        
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <!-- End Flooter section -->