<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">TDA Sales</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        
        <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of fillerNav">
          <mat-icon [routerLink]="['/listProspecto']" class="icono" fontIcon="search">search</mat-icon>
          {{nav.name}}
        </a>
      </mat-nav-list>
    </mat-sidenav>

    

    <mat-sidenav-content>

      <!-- Wallpaper section -->
      <div>
        <mat-grid-list cols="1" rowHeight="935px">
          <mat-grid-tile class="wallpaper">

          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <!-- End Wallpaper section -->


      <!-- Cards section -->
      <div style="width: 90%; margin: 0 auto;">

        <mat-grid-list cols="3" rowHeight="510px">
          <mat-grid-tile
  
              [colspan]="1"
              [rowspan]="1"
              [style.background]="">
  
              <mat-card class="card-one">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>TV + Internet</mat-card-title>
                  <mat-card-subtitle>Desde $425/Mes.</mat-card-subtitle>
                </mat-card-header>
                <div class="img-one"><img mat-card-image></div>
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
  
          </mat-grid-tile>
  
          <mat-grid-tile
  
              [colspan]="1"
              [rowspan]="1"
              [style.background]="">
  
              <mat-card class="card-two">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Internet</mat-card-title>
                  <mat-card-subtitle>Desde $249/Mes.</mat-card-subtitle>
                </mat-card-header>
                <div class="img-two"><img mat-card-image></div>
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
  
          </mat-grid-tile>
  
          <mat-grid-tile
  
              [colspan]="1"
              [rowspan]="1"
              [style.background]="">
  
              <mat-card class="card-three">
                <mat-card-header>
                  <div mat-card-avatar></div>
                  <mat-card-title>Ya eres cliente?</mat-card-title>
                  <mat-card-subtitle>Mejora tu paquete!</mat-card-subtitle>
                </mat-card-header>

                <div class="img-three"><img mat-card-image></div>
                
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
  
          </mat-grid-tile>
        </mat-grid-list>
        
      </div>
      <!-- Cards section -->

      <!-- Flooter section -->
      <div>
        <mat-grid-list cols="1" rowHeight="535px">
          <mat-grid-tile class="flooter">
            <div class="aviso">
              <h2><button mat-button><a href="https://www.sky.com.mx/avisoprivacidad" Target="_blank">Aviso de privacidad</a></button> </h2>
            </div>
            <div class="ubicacion">
              <h2>Ubicación</h2>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3701.320459102757!2d-102.30035388557745!3d21.92222856205298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8429efaa2e6aaaab%3A0xdc4c333bb51f06f!2sTDA%20Telecomunicaciones!5e0!3m2!1ses-419!2smx!4v1679024940806!5m2!1ses-419!2smx" width="300" height="150" style="border:10px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              <h4>Av Independencia #1850, Jardines de la Concepción II, 20120 Aguascalientes, Ags.</h4>
            </div>
            <div class="ayuda">
              <h2>Ayuda y atención</h2>
              <h4>+52 4499120299</h4>
              <a ><i class="fa-brands fa-whatsapp"></i></a>
            </div>
            
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <!-- End Flooter section -->


      <router-outlet></router-outlet>
    </mat-sidenav-content>
    
  </mat-sidenav-container>



  
  

</div>




<!-- Slider section -->


<!-- <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/src/assets/img-prueba.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/src/assets/img-prueba.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/src/assets/img-prueba.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



End Slider section -->

<div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>