.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
.example-spacer {
  flex: 1 1 auto;
}

mat-sidenav{
  width: 20%;
}

.icono{
  margin-right: 10px;
}

.wallpaper {
  background-image: url("src/assets/img.jpg");
}

.card-one {
  max-width: 410px;
  margin-top: 10px;
}

/* .example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
} */

.card-two {
  max-width: 410px;
  margin-top: 10px;

}

.card-three {
  max-width: 410px;
  margin-top: 10px;

}

.img-one {
  background-image: url("src/assets/tveinternet.jpeg");
  background-size: cover;
  height: 330px;
}

.img-two {
  background-image: url("src/assets/internet.jpeg");
  background-size: cover;
  height: 330px;
}

.img-three {
  background-image: url("src/assets/soycliente.jpeg");
  background-size: cover;
  height: 330px;
}

.flooter {
  background-color: black;
  margin-top: 30px;
}

.flooter h2{
  color: aliceblue;
}
.flooter h4{
  color: aliceblue;
  margin-top: 20px;
}
.flooter .aviso{
  text-align: left;
  text-decoration: none;
}

.flooter .aviso a{
  text-align: left;
  text-decoration: none;
  color: aliceblue;
  font-size: 20px;
}

.flooter .aviso :hover{
  text-align: left;
  text-decoration: none;
  color: gray;
}


.flooter .ayuda{
  text-align: center;

}

.flooter .ubicacion{
  text-align: center;
}
