<div class="title">
    <h1>Ordenes generadas</h1>
    <div class="home-button">
      <button [routerLink]="['/dashboard']" mat-fab color="warn">
        <mat-icon>home</mat-icon>
      </button>
    </div>
</div>

<app-spinner *ngIf="loading"></app-spinner>

<div class="container">

  <mat-form-field appearance="standard" class="form-field ms-2">
    <mat-label>Filtrar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input autocomplete="off">
  </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

        <ng-container matColumnDef="nombres">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
        </ng-container>
      
        <ng-container matColumnDef="apellidos">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </th>
          <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
        </ng-container>
      
        <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
          <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
        </ng-container>

        <ng-container matColumnDef="correo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
          <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
        </ng-container>
      
        <ng-container matColumnDef="direccion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Direccion </th>
          <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
        </ng-container>

        <ng-container matColumnDef="servicio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Servicio </th>
          <td mat-cell *matCellDef="let element"> {{element.servicio}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <button [routerLink]="['/agregarProspecto']" class="agregar" mat-raised-button color="primary">+ Nuevo</button>
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon routerLink="/verProspecto/{{element.id}}" matTooltip="Ver" class="search" fontIcon="search">search</mat-icon>
            <mat-icon routerLink="/editarProspecto/{{element.id}}" matTooltip="Editar" class="edit" fontIcon="edit">edit</mat-icon>
            <mat-icon (click)="eliminarProspecto(element.id)" matTooltip="Eliminar" class="delete" fontIcon="delete">delete</mat-icon>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
      </mat-paginator>
      
</div>


  <!-- Flooter section -->
  <div>
    <mat-grid-list cols="1" rowHeight="535px">
      <mat-grid-tile class="flooter">
        <div class="aviso">
          <h2><button mat-button><a href="https://www.sky.com.mx/avisoprivacidad" Target="_blank">Aviso de privacidad</a></button> </h2>
        </div>
        <div class="ubicacion">
          <h2>Ubicación</h2>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3701.320459102757!2d-102.30035388557745!3d21.92222856205298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8429efaa2e6aaaab%3A0xdc4c333bb51f06f!2sTDA%20Telecomunicaciones!5e0!3m2!1ses-419!2smx!4v1679024940806!5m2!1ses-419!2smx" width="300" height="150" style="border:10px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          <h4>Av Independencia #1850, Jardines de la Concepción II, 20120 Aguascalientes, Ags.</h4>
        </div>
        <div class="ayuda">
          <h2>Ayuda y atención</h2>
          <h4>+52 4499120299</h4>
          <a ><i class="fa-brands fa-whatsapp"></i></a>
        </div>
        
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <!-- End Flooter section -->
  