table {
    width: 100%;
  }

.title{
    background-color: royalblue;
    padding: 15px;
    text-align: center;
    color: white;
}

.container {
    margin: 1.5% 8%;
}

td, th{
    width: 15%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.delete{
    cursor: pointer;
    color: #E15639;
}

.edit{
    cursor: pointer;
    color: #187880;
}

.search{
    cursor: pointer;
}

.agregar{
    font-size: 12px;
    line-height: 28px;
}

.mat-form-field{
    width: 100%;
    margin: 5px;
}

.flooter {
    background-color: black;
    margin-top: 30px;
    width: 50px;
  }
  
  .flooter h2{
    color: aliceblue;
  }
  .flooter h4{
    color: aliceblue;
    margin-top: 20px;
  }
  .flooter .aviso{
    text-align: left;
    text-decoration: none;
  }
  
  .flooter .aviso a{
    text-align: left;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
  }
  
  .flooter .aviso :hover{
    text-align: left;
    text-decoration: none;
    color: gray;
  }
  
  
  .flooter .ayuda{
    text-align: center;
  
  }
  
  .flooter .ubicacion{
    text-align: center;
  }