.container {
    margin: 1.5% 8%;
}
.card{
    margin-top: 5px;
    text-align: center;
}

.flooter {
    background-color: black;
    margin-top: 30px;
    width: 50px;
  }
  
  .flooter h2{
    color: aliceblue;
  }
  .flooter h4{
    color: aliceblue;
    margin-top: 20px;
  }
  .flooter .aviso{
    text-align: left;
    text-decoration: none;
  }
  
  .flooter .aviso a{
    text-align: left;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
  }
  
  .flooter .aviso :hover{
    text-align: left;
    text-decoration: none;
    color: gray;
  }
  
  
  .flooter .ayuda{
    text-align: center;
  
  }
  
  .flooter .ubicacion{
    text-align: center;
  }