<div class="title">
    <h1>Acerca de</h1>
    <div class="home-button">
      <button [routerLink]="['/dashboard']" mat-fab color="warn">
        <mat-icon>home</mat-icon>
      </button>
    </div>
</div>
<div class="containter">
    <mat-grid-list cols="1" rowHeight="535px">
        <mat-grid-tile>
            <h2>Desarrollado por departamento de TI en TDA S.A. de C.V. Aguascalientes, Ags. <br>
                Desarrollador: Bryan Alfredo Flores Jara<br>
                Encargado de proyecto: Supervisor MD Ernesto Pinto Perez.</h2>
        </mat-grid-tile>
      </mat-grid-list>
</div>
